.p-professors-basic-table {
    border-collapse: collapse;
    background-color: #EAEAEA;
    text-align: center;
}

.p-professors-basic-table, .p-professors-basic-table-header {

}

.p-professors-basic-item{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.p-add-prof-button {
    background-color: #8dd4f880;
    border: 0.05;
    color: #2E91C3;
    font-size: 12px; 
    width: 130px;
    border-radius: 0.5ch;
    float:right;
    margin:auto;
  }
  .p-add-prof-button:hover {
    background-color: rgb(141, 212, 248, 0.9);
    color:white;
  }

.student-title {
    display: -ms-flexbox;
    display: flex;
    margin: auto;
}

.p-add-professor-to-course-btn {
  margin:auto;
  margin-left: 330px;
  background-color: rgb(141, 212, 248, 0.9);
  color:white;
  border-radius: 20px;
  font-size: 14px;
  width: 150px;
}