.p-settings {
    height: 45px;
    width: 127px;
    color: #3E3D3F;
    font-family: Helvetica;
    font-size: 35px;
    line-height: 42px;
    margin-top: 24px;
    margin-left: 88px;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.p-account {
    height: 22px;
    width: 100px;
    color: #7E7C7C;
    font-family: Helvetica;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
}

.p-profile-picture {
    height: auto;
    width: 200px;
    border: 1px solid rgba(154, 154, 154, 0.36);
    border-radius: 15px;
    background-color: #E7E7E7;
    box-shadow: 0 2px 4px 0 #165C35;
    margin-top: 20px;
}

.p-container {
    display: flex;
}

.p-container-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 190px;
    margin-top: 30px;
}

.p-container-input {
    margin-top: 65px;
    margin-left: 100px;
}

.p-container-box {
    height: 56px;
    width: 503px;
    border: 2px solid #ECECEC;
    border-radius: 5px;
    background-color: #FFFEFE;
    box-shadow: 0 2px 4px 0 #1A613A;
    display: flex;
    align-items: center;
    margin-top: 15px;
}
input {
  outline-width: 0;
}

.p-icon {
    height: 47px;
    width: auto;
    padding-left: 10px;

}

.p-container-info {
    height: 26px;
    width: 100px;
    color: #7E7C7C;
    font-family: Helvetica;
    font-size: 22px;
    line-height: 26px;
}

.input {
    height: 33px;
    width: 402px;
    color: #3E3D3F;
    font-family: Helvetica;
    font-size: 25px;
    line-height: 30px;
    margin-left: 15px;
    border: none;
}

.p-box-invalid-mail {
    box-shadow: 0 0px 4px 2px #ff0000;
}

.p-input-file {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.p-input-file + label {
    height: 40px;
    width: 103px;
    border: 3px solid #ECECEC;
    border-radius: 6px;
    background-color: #FFFEFE;
    box-shadow: 0 2px 4px 0 #196139;
    text-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
    color: #9B9B9B;
    font-family: Helvetica;
    font-size: 20px;
    line-height: 24px;
    margin-top: 35px;
    padding-left: 16px;
    padding-top: 7px;
}

.p-save-button {
    height: 50px;
    width: 130px;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    background-color: rgba(18, 134, 43, 0.384);
    margin: auto;
    margin-top: 20px;
 }

 .p-save-button:hover {
    height: 50px;
    width: 130px;
    border: 1px solid #E4E4E4;
    border-radius: 12px;
    background-color: rgba(10, 100, 29, 0.384);
    margin: auto;
    margin-top: 20px;
 }