:root {
 --button-header-color: white;
 --button-header-hover-color: #A5A5A5;
}
.p-app {
  position: static;
}

.p-app-logo {
  height: 80px;
  fill: white;
}

.p-app-header {
  position: sticky;
  display: flex;
  height: 100px;	
  background: linear-gradient(180deg, #000000 0%, #4C4C4C 100%);
  color: white;
  align-items: center;
}

.p-app-title {
  font-size: 1.5em;
}

.p-app-intro {
  font-size: large;
}

.p-app .p-login-button {
  height: 50px;
  width: 85px;
  font-family: Copperplate;
  font-size: 20px;
  font-weight: 10;
  letter-spacing: -0.08px;
  line-height: 15px;
  margin-top: 30px;
  color:var(--button-header-color);	
}



.p-app .p-login-button:hover {
  color: var(--button-header-hover-color);
  font-size: 21px;
}
