.p-app {

}

.p-app-logo {
  height: 80px;
}

.p-app-header {
  background-color: rgba(66, 126, 161, 0.794);
  height: 80px;
  padding: 20px;
  color: white;
}

.p-app-title {
  font-size: 1.5em;
}

.p-app-intro {
  font-size: large;
}
