.p-app {
}

.p-app-logo {
  height: 80px;
}

.p-app-header {
  position: sticky;
  display: flex;
  background-color: rgba(66, 126, 161, 0.794);
  height: 80px;
  padding: 20px;
  color: white;
}

.p-app-title {
  font-size: 1.5em;
}

.p-app-intro {
  font-size: large;
}

.p-app .p-login-button {
  height: 50px;
  width: 85px;
  color: rgba(0, 0, 0, 0.6);
  font-family: "Roboto";
  font-size: 25px;
  font-weight: 10;
  letter-spacing: -0.08px;
  line-height: 15px;
  margin-top: 30px;
}

.p-app .p-login-button:hover {
  color: black;
  font-size: 30px;
}
